manifest {
    name = 'crukci-bioinformatics/nf-overresource'
    author = 'Richard Bowers'
    description = 'Testing pipeline for using more than is asked for!'
    mainScript = 'overresource.nf'
    nextflowVersion = '>=25.04.0'
    version = '0.0.0'
}

plugins {
    id 'nf-crukci-support@1.1.0'
}

logScan {
    enabled        = true
    maxLinesToScan = 10000    // 0 = unlimited
    verbose        = true    // Enable debug logging
}

executor {
    $slurm {
        queueSize = 20
        pollInterval = '20sec'
        exitReadTimeout = '15sec'
        clusterOptions = "--nodes=1 --open-mode=truncate"
    }
}

clean = false

process {
    errorStrategy = {
        task.exitStatus in [ 104, 134, 137..140, 255 ].flatten() ? 'retry' : 'ignore'
    }

    cpus = 1
    memory = 4.MB
    time = 1.hour
}

profiles {
    local {
        process.executor = 'local'
        executor.$local.cpus = 4
        executor.$local.memory = 4.GB
    }

    standard {
        process.executor = 'slurm'
        process.queue = 'epyc'
    }
}
